/*<---Sidebar Admin--->*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #181818;
    color: white;
}
.sidebar {
    min-height: 100vh;
    background-color: #242424;
    position: fixed;
    width: 250px;
    
}
.sidebar a,
.sidebar p {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
    border-left: 3px solid transparent;
}


.sidebar a:hover{
    color: cyan;
    border-left: 3px solid cyan;
}

.sidebar h3{
    color: white;
}


/* <--- Login Admin  --->  */

